<!-- chat/templates/chat/room.html -->
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Chat Room</title>
</head>
<body>
    <textarea id="chat-log" cols="100" rows="20" readonly></textarea><br>
    <input id="chat-message-input" type="text" size="100"><br>
    <input id="chat-message-submit" type="button" value="Send">
    {{ room_name|json_script:"room-name" }}
    Registered as <div id="username">{{ user.username }} </div>
    <script>
        var name = document.getElementById('username').textContent;
        const roomName = JSON.parse(document.getElementById('room-name').textContent);

        const chatSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/game/room/'
            + roomName
            + '/'
        );

        chatSocket.onmessage = function(e) {
            console.log("wut");
            const data = JSON.parse(e.data);
            console.log(data);
            console.log(data.type);
            if(data.type == "message"){
                document.querySelector('#chat-log').value += ('(' + data.time + ') ' + data.username + " : " + data.message + '\n');
            }
            if(data.type == "card"){
                document.querySelector('#chat-log').value += (data.username + 'plays ' + data.card_name + ' : HP ' + data.card_hp + ' | ATK ' + data.card_atk + '\n');
                document.getElementById('card_div_' + data.card_id).hidden = true;
            }
        };

        chatSocket.onclose = function(e) {
            console.error('Chat socket closed unexpectedly');
        };

        document.querySelector('#chat-message-input').focus();
        document.querySelector('#chat-message-input').onkeyup = function(e) {
            if (e.keyCode === 13) {  // enter, return
                document.querySelector('#chat-message-submit').click();
            }
        };

        document.querySelector('#chat-message-submit').onclick = function(e) {
            const messageInputDom = document.querySelector('#chat-message-input');
            const message = messageInputDom.value;
            chatSocket.send(JSON.stringify({
                'type': 'message',
                'message': message,
                'username': name,
                'time' : '{{ time }}',
            }));
            messageInputDom.value = '';
        };

        function playCard(id, hp, atk, card_name){
            chatSocket.send(JSON.stringify({
                'type': 'card',
                'card_id': id,
                'card_hp': hp,
                'card_atk': atk,
                'card_name': card_name,
                'username': name,
            }));
            console.log("sent");
        };

    </script>
    <h3>Selected deck : {{ deck.name }}</h3>
    <ul>
        {% for card in deck.cards.all %}
        <div id="card_div_{{card.id}}" >
            <li> {{ card.name }}  || HP : {{ card.health }} || Atk : {{ card.attack }}
                <input id="card_submit_{{card.id}}"
                       type="button"
                       value="Send"
                       onclick="playCard(
                                    '{{card.id}}',
                                    '{{card.health}}',
                                    '{{card.attack}}',
                                    '{{card.name}}')">
            </li>
        </div>
        {% endfor %}
    </ul>
</body>
</html>